<footer class="bg-gray-800 text-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
        <a href="/" class="text-white font-bold text-2xl">Ngajiin.id</a>
        <p class="text-gray-400 text-base">
          Mencerdaskan kehidupan bangsa dengan membangun masyarakat yang moderat, inklusif, luwes, serta senantiasa menjunjung tinggi nilai-nilai kebaikan.
        </p>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Program</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-base text-gray-300 hover:text-white">
                  Bahasa Arab
                </a>
              </li>
              <li>
                <a href="#" class="text-base text-gray-300 hover:text-white">
                  Ilmu Mantik
                </a>
              </li>
              <li>
                <a href="#" class="text-base text-gray-300 hover:text-white">
                  Ilmu Al-Quran
                </a>
              </li>
              <li>
                <a href="#" class="text-base text-gray-300 hover:text-white">
                  Ilmu Alat
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Legal</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-base text-gray-300 hover:text-white">
                  Privacy Policy
                </a>
              </li>
              <li>
                <a href="#" class="text-base text-gray-300 hover:text-white">
                  Terms of Service
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-1 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Hubungi Kami</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="mailto:Kantorpesantren4@gmail.com" class="text-base text-gray-300 hover:text-white">
                  Kantorpesantren4@gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-700 pt-8">
      <p class="text-base text-gray-400 xl:text-center">&copy; {new Date().getFullYear()} Ngajiin.id. All rights reserved.</p>
      <div class="xl:text-center mt-2">
        <p class="text-base text-gray-400">Developed by <a href="https://farrosfr.com" target="_blank" rel="noopener noreferrer" class="hover:text-blue-400">FarrosFR</a></p>
      </div>
    </div>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Mochammad Farros Fatchur Roji",
    "url": "https://farrosfr.com"
  }
</script>
  </div>
</footer>
